<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @todo.name %>
</p>

<p>
  <strong>Done:</strong>
  <%= @todo.done %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todo.description %>
</p>

<h2>Images</h2>
<% @todo.images.each do |img| %>
  <div>
    <img src="<%= url_for(img) %>" />
  </div>
<% end %>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
